<h1  class="text-center">Affectation des fiches</h1> 
<div class="row py-3 mb-2 bg-warning" style="margin-left: 5%;margin-right: 5%;">
  
  <br>
  
    <form [formGroup]="ficheForm" (ngSubmit)="onSubmitForm()">


      <div class="col-md-6">
          
        <div class="form-group">
          <label for="libelle">libelle</label>
          <input type="text" id="libelle" class="form-control" formControlName="libelle">
        </div>

        <div class="form-group">
          <label for="url">Url</label>
          <input type="text" id="url" class="form-control" formControlName="url">
        </div>
        <div class="form-group">
          <label for="lieu">Lieu</label>
          <input type="text" id="lieu" class="form-control" formControlName="lieu">
        </div>

      </div>

      <div class="col-md-6">
           
            <div class="form-group">
              <label for="delai">Délai</label>
              <input type="text" id="delai" class="form-control" formControlName="delai">
          </div>
          <div class="form-group">
            <label for="dateButoire" style="padding-right: 16px;">Date butoire</label>
            <input type="date" id="dateButoire" formControlName="dateButoire">
            </div>

           
            <!--<div class="form-group">
              <label for="codeUser">Code Utilisateur</label>
              <input type="text" id="codeUser" class="form-control" formControlName="codeUser">
            </div> -->
            <div class="form-group">
              <label for="selectedUserId" style="padding-right: 20px;">L'utilisateur</label>
              <select formControlName="selectedUserId" id="selectedUserId">
                  <option disabled>Choisir l'utilisaeur</option>
                  <option [value]="user.codeUser" *ngFor="let user of users " >
                    {{user.nom}} {{user.prenom}}
                  </option>
              </select>
            </div>

            <div class="form-group">
              <label for="selectedTableauId" style="padding-right: 40px;">Tableau</label>
                <select formControlName="selectedTableauId" >
                  <option disabled>Choisir Le tableau</option>
                  <option [value]="tab.idTableau" *ngFor="let tab of tableaux " >
                    {{tab.libelle}}
                  </option>
                </select>
            </div>
      </div>
      <div class="col-md-12">
      <div class="form-group">
        <label for="noteExplicative" >Note Explicative</label>
        <textarea class="form-control" id="noteExplicative" rows="4" formControlName="noteExplicative"></textarea>
     </div>
      <button type="submit" class="btn btn-primary" [disabled]="ficheForm.invalid">Enregistrer la Fiche</button>
      <br><br>
      <button class="btn btn-primary" (click)="BackOnList()">Retour vers la liste des Fiche</button>
    </div> 
      </form>
      <div class="col-md-2"></div>
     
</div>


