

<h1 style="text-align: center;" >Liste des Fiches</h1>

<div class="row">
  <div class="card">

    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="BackOnList()"></button>
         <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedFiche || selectedFiche==null"></button>
     --> </ng-template>

  </p-toolbar>
  <br>
   
    <p-table [value]="fiches" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>libelle</th>
                <th>Note Explicative</th>
                <th>Lieu</th>
                <th>Date Butoire</th>
                <th>Url</th>
                
                <th>Delai</th>
                
                
                <th>codeUser</th>
                <th>idTableau</th>
                <th>Action</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fiche>
            <tr>
                <td>{{fiche.libelle}}</td> 
                <td>{{fiche.noteExplicative}}</td> 
                <td>{{fiche.lieu}}</td> 
                <td>{{fiche.dateButoire | date:'dd/MM/yyyy'}}</td>
                <td>{{fiche.url}}</td>
               
                <td>{{fiche.delai}}</td>
                <td>{{fiche.utilisateur.codeUser}}</td>
                <td>{{fiche.tableau.idTableau}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editFiche(fiche)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteFiche(fiche)"></button>
              </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>
</div>


